/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

/* common style and utilities */
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

/* banner styles */
.banner,
.highlights,
.fifa-partners {
  height: 677px;
  display: flex;
  justify-content: center;
  background-color: #2d25a0;
  margin-bottom: 70px;
}
.container {
  width: 1161px;
  display: flex;
  justify-content: center;
}
.banner-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.banner-text {
  padding-bottom: 50px;
}
.banner-text h1 {
  font-size: 64px;
  color: #ffffff;
  margin-bottom: 27px;
}
.banner-text a,
.btn {
  text-decoration: none;
  font-size: 16px;
  color: #ffffff;
  font-weight: 500;
  background-color: #e02c6d;
  padding: 10px 24px;
  transition: color 0.5s ease-in-out, background-color 0.5s ease-in-out;
}
.fa-arrow-right {
  font-size: 16px;
  margin-left: 10px;
}
.banner-text a:hover,
.btn:hover {
  color: black;
  background-color: #78abec;
}
.banner-img {
  width: 55%;
}

/* image hover effect using animation */
.banner-img:hover {
  animation: shake 1s;
  animation-iteration-count: 5;
}
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* player section styles */
.players-details {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0 30px;
}
.player {
  height: 474px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  padding: 15px;
  margin-bottom: 27px;
  transition: all 0.5s ease-in-out;
}
.player:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.822);
}
.player img {
  width: 300px;
  height: 256px;
}
.player-name {
  font-size: 28px;
  color: #18191f;
}
.player-info,
.para {
  font-size: 16px;
  color: #6c6c6c;
  width: 300px;
}

/* highlights styles */
.highlights {
  background-color: #ffffff;
  margin: 70px 0;
  height: 100%;
}
.highlights-details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.text {
  font-size: 48px;
  color: #000000;
}
.para {
  width: 100%;
  margin-bottom: 50px;
}
.btn {
  margin-left: 0;
}

/* fifa partners */
#text {
  text-align: center;
}
.fifa-partners {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-bottom: 70px;
}
.partners {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  grid-row-gap: 30px;
}
.partners a img {
  width: 114px;
  height: 57px;
}

/* vision styles */
.vision {
  height: 300px;
  background-image: url(../images/vision.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vision-info {
  width: 50%;
  text-align: center;
}
.v-text {
  margin-top: 0;
  font-size: 50px;
  text-align: center;
  color: #ffffff;
  margin-bottom: 0;
}
.vision-info p {
  text-align: center;
  color: #ffffff;
  margin-bottom: 16px;
}
.vision-info a {
  text-align: center;
}

/* footer styles */
footer {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}
.footer-details {
  text-align: center;
}
.footer-logo img {
  width: 483px;
  height: 110px;
}
.social a i {
  color: #969bab;
  font-size: 32px;
  transition: all 0.5s ease-in-out;
}
.social a:hover i {
  color: black;
}
.fab {
  padding: 10px;
  background-color: #0b0d173f;
  border-radius: 50%;
  margin: 0 7px;
}
#footer-text {
  font-size: 18px;
  color: #000000;
}

/* media queries */
/* mobile devices */
@media only screen and (max-width: 688px) {
  .banner {
    width: 100%;
    margin-bottom: 47px;
    height: 550px;
  }
  .container {
    width: 100%;
  }
  .banner-details {
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
  }
  .banner-text h1 {
    font-size: 36px;
  }
  .banner-img {
    width: 80%;
  }
  .players {
    grid-template-columns: repeat(1, 1fr);
  }
  .partners a img {
    width: 50%;
    height: 100%;
  }
  .highlights {
    margin: 0;
    margin-bottom: 70px;
  }
  .highlights-details {
    grid-template-columns: repeat(1, 1fr);
  }
  .btn {
    margin-left: 16px;
  }
  iframe {
    display: none;
  }
  .text {
    font-size: 30px;
    margin-left: 16px;
  }
  .para {
    margin-left: 16px;
    width: 95%;
  }
  .vision {
    width: 100%;
    height: 200px;
  }
  .vision-info {
    width: 100%;
    text-align: left;
  }
  .v-text {
    font-size: 25px;
    margin-bottom: 16px;
    width: 85%;
  }
  .vision-info p {
    display: none;
  }
  .footer-logo img {
    height: 63px;
    width: 271px;
  }
}

/* tablet devices */
@media only screen and (min-width: 689px) and (max-width: 992px) {
  .banner {
    height: 450px;
  }
  .container {
    width: 100%;
  }
  .banner-details {
    margin-left: 16px;
  }
  .banner-text h1 {
    font-size: 46px;
  }
  .banner-img {
    width: 50%;
  }
  .players {
    grid-template-columns: repeat(2, 1fr);
  }
  .highlights {
    margin: 0;
  }
  .highlights-details {
    grid-template-columns: repeat(1, 1fr);
  }
  .text {
    font-size: 40px;
    margin-left: 16px;
  }
  .para {
    margin-left: 16px;
    width: 95%;
  }
  .btn {
    margin-left: 16px;
  }
  iframe {
    display: none;
  }
  .vision {
    width: 100%;
    height: 300px;
    margin-top: 70px;
  }
  .vision-info {
    width: 80%;
    text-align: center;
  }
  .v-text {
    font-size: 30px;
    margin-bottom: 16px;
  }
}
